<header class="bs-header">
  <div class="container">
    <div class="contents clearfix">
      menu
    </div>
  </div>
</header>

<a href="/index" >event</a>
{{render header}}

<div id="main-outlet">
    {{outlet}}
  </div>

{{render modal}}
